<!DOCTYPE html>
<html lang="en" ng-app="trunckstore" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Balaji Trunk Store - Sales</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index">Balaji Trunk Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/stock">Stock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updateInventory">Update Inventory</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <br>
    <div class="container" ng-controller='OrderController as controller'>
    	<form name="myform" novalidate>
		  <div class="form-group row">
		    <label class="col-2">Client Name:</label>
		    <input tabindex="1" ng-model="controller.order.clientName" type="text" class="form-control col-4" id="exampleInputEmail1" aria-describedby="emailHelp" required>
		  </div>
		  <div class="form-group row">
		    <label class="col-2">Address:</label>
		    <input tabindex="2" ng-model="controller.order.address" type="text" class="form-control col-6" required>
		  </div>
		  <div class="form-group row">
		    <label class="col-2">Date:</label>
		    <input tabindex="3" ng-model="controller.order.date" type="date" class="form-control col-4" required>
		  </div>
		  <div class="form-group row">
		  	<label class="col-2">Type of Order:</label>
			<select tabindex="4" ng-model="controller.order.type" class="form-control col-4" required>
			  <option value="">Please select</option>
			  <option>Debit</option>
			  <option>Credit</option>
			</select>
		  </div>
		  <div class="form-group row" ng-show="controller.order.type === 'Credit'">
		    <label class="col-2">Phone Number:</label>
		    <input tabindex="5" ng-model="controller.order.phone" type="text" class="form-control col-4" required>
		  </div>
		  <table class="table">
		  <thead>
		    <tr>
		      <th scope="col"><img src="images/add.jpg" ng-click="controller.addItemInOrder()" style="height: 20px; width: 20px; cursor:pointer;"/></th>
		      <th scope="col">Item Code</th>
		      <th scope="col">Item Desription</th>
		      <th scope="col">Quantity</th>
		      <th scope="col">Rate (per peice)</th>
		      <th scope="col">Amount</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="item in controller.order.items track by $index">
		      <td>{{$index + 1}}</th>
		      <td><input tabindex="{{$index * 2 + 6}}" uib-typeahead="item1 as item1.code for item1 in controller.stock | orderBy:['-hotcake', 'code'] | filter:{code:$viewValue}" ng-model="item.code" ng-selected="controller.itemChanged(item.code, $index)" type="text" class="form-control" required></td>
		      <td><input ng-model="item.description" type="text" class="form-control" required></td>
		      <td><input tabindex="{{$index * 2 + 7}}" ng-change="controller.recalculateOrder()" ng-model="item.quantity" type="text" class="form-control" required></td>
		      <td><input ng-change="controller.recalculateOrder()" ng-model="item.rate" type="text" class="form-control" required></td>
		      <td>&nbsp;&nbsp;&nbsp;{{item.amount}}</td>
		      <td><img src="images/remove.jpg" ng-click="controller.removeItemInOrder($index)" style="height: 20px; width: 20px; cursor:pointer;"/></td>
		    </tr>
		    <tr>
		      <td colspan="3"></td>
		      <th scope="row" colspan="2">Transportation Expenses</th>
		      <td><input tabindex="50" ng-change="controller.recalculateOrder()" ng-model="controller.order.transportationCharges" type="text" class="form-control" required></td>
		    </tr>
		    <tr>
		      <td colspan="3"></td>
		      <th scope="row" colspan="2">Total</th>
		      <td>&nbsp;&nbsp;&nbsp;{{controller.order.total}}</td>
		    </tr>
		  </tbody>
		</table>
		  <button ng-disabled="controller.hideSaveButton" type="submit" class="btn btn-primary" ng-click="controller.savePrint()">Save &amp; Print</button>
		  <button ng-disabled="controller.hideSaveButton" type="submit" class="btn btn-primary" ng-click="controller.save()">Save</button>
		  <button type="submit" class="btn btn-primary" ng-click="controller.print()">Print</button>
		  <button type="submit" class="btn btn-primary" ng-click="controller.reload()">Reload</button>
		  <span ng-show="controller.orderCreatedFlag" style="color: green;">Order Created Successfully!!</span>
		  <span ng-show="controller.orderCreationFailedFlag" style="color: red;">Please check your order properly!!</span>
		</form>
    </div>
    <!-- /.container -->
    <br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Balaji Tunk Store 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script src="js/order-controller.js"></script>
  </body>

</html>
