<!DOCTYPE html>
<html lang="en" ng-app="trunckstore-sales" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Balaji Trunk Store - Sales</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

  </head>

  <body ng-controller='SalesController as controller'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index">Balaji Trunk Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/stock">Stock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updateInventory">Update Inventory</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <br>
    <div class="container" ng-show="controller.isAdminUser">
      <h3>Search for Orders - {Enter your search criteria}</h3>
      <br>
      <form>
        <div class="form-group row">
          <label class="col-2">Client Name:</label> <input class="col-4 form-control" type="text" placeholder="Client Name" ng-model="controller.criteria.name">
        </div>
        <div class="form-group row">
          <label class="col-2">From Date:</label> <input class="col-4 form-control" type="date" ng-model="controller.criteria.fromDate">
        </div>
        <div class="form-group row">
          <label class="col-2">To Date:</label> <input class="col-4 form-control" type="date" ng-model="controller.criteria.toDate">
        </div>
        <div class="form-group row">
          <label class="col-2">Type of Order:</label>
          <select ng-model="controller.criteria.type" class="form-control col-4">
            <option value="">Please select</option>
            <option>Debit</option>
            <option>Credit</option>
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary col-2" ng-click="controller.getOrders()">Get Orders</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span ng-show="controller.searchCriteriaInvalid" style="color: red; float: right;">Invalid Search Criteria!!</span>
          <span ng-show="controller.orderDeleted" style="color: red; float: right;">Order deleted successfully!!</span>
        </div>
      </form>
      <hr>
      <div ng-hide="controller.viewModeOn">
        <h3>Orders</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Cleint Name</th>
              <th scope="col">Date (dd-MM-yyyy)</th>
              <th scope="col">Quantity</th>
              <th scope="col">Amount</th>
              <th scope="col">Original Amount</th>
              <th scope="col">Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="order in controller.orders">
              <td>{{$index + 1}}</th>
              <td>{{order.clientName}}</td>
              <td>{{order.date | date: 'dd-MM-yyyy'}}</td>
              <td>{{order.itemsSold}}</td>
              <td>{{order.total}}</td>
              <td>{{order.originalAmount}}</td>
              <td>{{order.profit}}</td>
              <td><img src="images/edit.png" ng-click="controller.viewOrder($index)" style="height: 20px; width: 20px; cursor:pointer;"/></td>
              <td><img src="images/remove.jpg" confirmed-click="controller.deleteOrder($index)" ng-confirm-click="Deleting order... Are you sure?" style="height: 20px; width: 20px; cursor:pointer;"/></td>
            </tr>
            <tr>
              <th>Totals</th>
              <td></td>
              <td></td>
              <td>{{controller.totalItemsSold}}</td>
              <td>{{controller.totalSale}}</td>
              <td>{{controller.totalOriginalAmount}}</td>
              <td>{{controller.totalProfit}}</td>
            </tr>
          </tbody>
        </table>
      </div>
	  </div>
    <div class="container" ng-show="controller.viewModeOn">
      <h3>Order Details</h3>
      <form>
        <div class="form-group row">
          <label class="col-2">Client Name:</label>
          <input ng-model="controller.order.clientName" type="text" class="form-control col-4" ng-disabled="true">
        </div>
        <div class="form-group row">
          <label class="col-2">Address:</label>
          <input ng-model="controller.order.address" type="text" class="form-control col-6"  ng-disabled="true">
        </div>
        <div class="form-group row">
          <label class="col-2">Date:</label>
          <input ng-model="controller.order.date" type="date" class="form-control col-4" ng-disabled="true">
        </div>
        <div class="form-group row">
          <label class="col-2">Type of Order:</label>
          <input ng-model="controller.order.type" type="text" class="form-control col-4" ng-disabled="true">
        </div>
        <div class="form-group row" ng-show="controller.order.type === 'Credit'">
          <label class="col-2">Phone Number:</label>
          <input ng-model="controller.order.phone" type="text" class="form-control col-4" ng-disabled="true">
        </div>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Item Code</th>
            <th scope="col">Item Desription</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate (per peice)</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in controller.order.items">
            <td>{{$index + 1}}</th>
            <td><input ng-model="item.code" type="text" class="form-control" ng-disabled="true"></td>
            <td><input ng-model="item.description" type="text" class="form-control"  ng-disabled="true"></td>
            <td><input ng-model="item.quantity" type="text" ng-disabled="true"></td>
            <td><input ng-model="item.rate" type="text" class="form-control"  ng-disabled="true"></td>
            <td>&nbsp;&nbsp;&nbsp;{{item.amount}}</td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th scope="row" colspan="2">Transportation Expenses</th>
            <td><input ng-model="controller.order.transportationCharges" type="text" class="form-control" ng-disabled="true"></td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <th scope="row" colspan="2">Total</th>
            <td>&nbsp;&nbsp;&nbsp;{{controller.order.total}}</td>
          </tr>
        </tbody>
      </table>
        <button type="submit" class="btn btn-primary" ng-click="controller.print()">Print</button>
        <button type="submit" class="btn btn-primary" ng-click="controller.closeOrderDiv()">Close</button>
      </form>
    </div>
    <!-- /.container -->
    <br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Balaji Tunk Store 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script src="js/sales-controller.js"></script>
  </body>

</html>
