<!DOCTYPE html>
<html lang="en" ng-app="trunckstore-stock" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Balaji Trunk Store - Sales</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

  </head>

  <body ng-controller='StockController as controller'>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index">Balaji Trunk Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/stock">Stock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updateInventory">Update Inventory</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <br>
    <div class="container" ng-show="controller.isAdminUser">
    	<form>
  		  <div>
  		    <h2>Add an item to your stock</h2>
    			<span ng-show="controller.itemAddedFlag" style="color: green; float: right;">Item Updated Successfully!!</span>
          <span ng-show="controller.itemDeletedFlag" style="color: green; float: right;">Item Deleted Successfully!!</span>
    			<span ng-show="controller.itemAdditionFailedFlag" style="color: red; float: right;">Please check your input properly!!</span>
  		  </div>
  		  <br>
  		  <br>
  		  <table class="table">
  			  <thead>
  			    <tr>
  			      <th scope="col"><img src="images/add.jpg" ng-click="controller.addItemInStock()" style="height: 20px; width: 20px; cursor:pointer;"/></th>
  			      <th scope="col">Item Code</th>
  			      <th scope="col">Item Desription</th>
  			      <th scope="col">Quantity</th>
  			      <th scope="col">Rate (per peice)</th>
              	  <th scope="col">Original Rate (per peice)</th>
              	  <th scope="col">Hot Cake</th>
  			    </tr>
  			  </thead>
  			  <tbody>
  			    <tr ng-repeat="item in controller.stock">
  			      <td>{{$index + 1}}</th>
  			      <td><input ng-disabled="!item.editMode" ng-model="item.code" type="text" class="form-control" placeholder="eg: trunk_01" required></td>
  			      <td><input ng-disabled="!item.editMode" ng-model="item.description" type="text" class="form-control"  placeholder="eg: Small Trunk" required></td>
  			      <td><input ng-disabled="!item.editMode" ng-model="item.quantity" type="text" class="form-control"  placeholder="eg: 10" required></td>
  			      <td><input ng-disabled="!item.editMode" ng-model="item.rate" type="text" class="form-control"  placeholder="eg: 1000" required></td>
              	  <td><input ng-disabled="!item.editMode" ng-model="item.originalrate" type="text" class="form-control"  placeholder="eg: 1000" required></td>
              	  <td><input ng-disabled="!item.editMode" ng-model="item.hotcake" type="checkbox" class="form-control" value="false"></td>
  			      <td ng-show="!item.editMode"><img src="images/edit.png" ng-click="controller.editItemInStock($index)" style="height: 20px; width: 20px; cursor:pointer;"/></td>
  			      <td ng-show="item.editMode"><img src="images/save.jpg" ng-click="controller.updateItemInStock($index)" style="height: 20px; width: 20px; cursor:pointer;"/></td>
  			      <td><img src="images/remove.jpg" confirmed-click="controller.removeItemFromStock($index)" ng-confirm-click="Deleting stock item... Are you sure?" style="height: 20px; width: 20px; cursor:pointer;"/></td>
  			    </tr>
  			  </tbody>
  		  </table>
		  </form>
    </div>
    <!-- /.container -->
    <br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Balaji Tunk Store 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/stock-controller.js"></script>
  </body>

</html>
