<!DOCTYPE html>
<html lang="en" ng-app="trunckstore" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Balaji Trunk Store - Sales</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

  </head>

  <body ng-controller="UpdateInventoryController as controller">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index">Balaji Trunk Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/stock">Stock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updateInventory">Update Inventory</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <br>
    <div class="container">
    	<h3>Update Stock</h3>
    	<br>
    	<form>
    		<div class="form-group row">
	          <label class="col-2">Item Code:</label>
	          <input uib-typeahead="item1 as item1.code for item1 in controller.stock | orderBy:['-hotcake', 'code'] | filter:{code:$viewValue}" ng-model="controller.updateItem.code" ng-selected="controller.itemChanged(controller.updateItem.code, $index)" type="text" class="form-control col-4" required="">
	        </div>
	        <div class="form-group row">
	          <label class="col-2">Item Description:</label>
	          <input ng-model="controller.updateItem.description" type="text" class="form-control col-4" ng-disabled="true">
	        </div>
	        <div class="form-group row">
	          <label class="col-2">Original Quantity:</label>
	          <input ng-model="controller.updateItem.quantity" type="text" class="form-control col-4" ng-disabled="true">
	        </div>
	        <div class="form-group row">
	          <label class="col-2">Add Quantity:</label>
	          <input ng-model="controller.addItemQuantity" type="text" class="form-control col-4" required>
	        </div>
	        <button type="submit" class="btn btn-primary col-2" ng-click="controller.updateStock()">Update Stock</button>
	        <span ng-show="controller.updateStockFlag" style="color: green;">Update Stock Successfully!!</span>
	        <span ng-show="controller.updateStockFailedFlag" style="color: red;">Please check your fields properly!!</span>
    	</form>
	</div>
	<hr>
    <!-- /.container -->
    <br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Balaji Tunk Store 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/updateinventory-controller.js"></script>
  </body>

</html>
